.ipynb_checkpoints/
env.py
tarkov_env.py
.DS_Store
__pycache__
.vscode/
package.json
*.csv
*.xlsx
*.tgz
my_dictionary_simple.txt
rapid_env.py
anonymized-curriculum-access.txt
*.jpg
*.pdf
*.png
call-json
*.json
../../world-data-practice-project/
../../100-pandas-puzzles/
../../AdobeStock_199237766-1024x630.jpeg
../../Backup/
../../Mapbox_test_token.pdf
../../README_2.md
../../SQL Zillow Acquire Codes:
../../anomaly-detection-exercises/
../../backup for zillow project/
../../classification-exercises/
../../cli_and_git_notes/
../../clustering-exercises/
../../clustering-project/
../../data-science-libraries/
../../database_exercises/
../../explore.ipynb
../../git/
../../git_test/
../../lbecker Data Science Project Pipeline Summaries (Zillow Regression Project 10-8-20).docx
../../lesson_notes/
../../mall_wrangle_book.ipynb
../../methodologies-one/
../../natural-language-processing-exercises/
../../numpy-pandas-visualization-exercises/
../.gitignore
../client-python-master/.drone.yml
../client-python-master/.gitignore
../client-python-master/LICENSE
../client-python-master/README.md
../client-python-master/clustering_project_plan
../client-python-master/polygon/
../client-python-master/requirements.txt
../client-python-master/rest-example.py
../client-python-master/setup.py
../client-python-master/upload
../client-python-master/websocket-example.py
../numpy-training/
../pandas-exercises/
../telco-data-analysis/
../wolfram_test.ipynb
../../python-exercises/
../../pythonProject/.idea/.gitignore
../../pythonProject/.idea/inspectionProfiles/
../../pythonProject/.idea/misc.xml
../../pythonProject/.idea/modules.xml
../../pythonProject/.idea/vcs.xml
../../pythonProject/.idea/workspace.xml
../../python_homework/.idea/.gitignore
../../python_homework/.idea/inspectionProfiles/
../../python_homework/.idea/misc.xml
../../python_homework/.idea/modules.xml
../../python_homework/.idea/vcs.xml
../../python_homework/helloworld.py
../../python_homework/venv/control_structures_exercises.py
../../regression-exercises/
../../regression-project/
../../spark-exercises/
../../sql-practice/
../../statistics-exercises/
../../storytelling/
../../svi-capstone/
../../telco-churn-project/
../../time-series-exercises/
../../time-series-project/
../../world-data-practice-project/